body{

background:#061225;
color:white;
font-family:Arial;
margin:0;
padding:15px;

}

.topnav{

display:flex;
gap:6px;
flex-wrap:wrap;
margin-bottom:12px;

}

button{

background:#2fa4ff;
border:none;
padding:10px;
border-radius:8px;

}

.card{

background:#0f1c38;
padding:14px;
border-radius:12px;
margin-bottom:12px;

}

input,select{

width:100%;
padding:9px;
margin-top:6px;
background:#081632;
color:white;
border:none;
border-radius:8px;

}

.version{

text-align:center;
font-size:11px;
color:#9fb0d0;
margin-top:30px;

}
